/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark{
  --card-title-font-weight: 'wght' 785;;
  --card-text-font-weight: 'wght' 465;
  --main-color: #000;
  --text-color: #00CC14;
  --contur-color:var(--text-color);
  --text-button-color:#00CC14;
  --text-button-color-alternative:var(--main-color);
  --text-botton-color-invert: 0;
  --label-text-color:rgba(0, 204, 20, 0.5); 
  --label-outline-color: rgba(0, 0, 0, 0.5);
  --background-image: 
    repeating-linear-gradient(90deg, #000 2px, transparent 4px),
    repeating-linear-gradient(0deg, #000 2px, transparent 4px),
    linear-gradient(#007f0c 0.01%, #004306);
    
    
    
}
  
:root.theme-light{
  --card-title-font-weight: 'wght' 700;
  --card-text-font-weight: 'wght' 400;
  --main-color: #fff;
  --text-color: #000;
  --contur-color:var(--text-color);
  --text-button-color:#000;
  --text-botton-color-invert: 1;
  --text-button-color-alternative: var(--main-color);
  --label-text-color:rgba(0, 0, 0, 0.5);
  --label-outline-color: rgba(255, 255, 255, 0.5);
  --background-image: 
    repeating-linear-gradient(90deg, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) { 
  :root.theme-light{
    --card-title-font-weight: 'wght' 700;
    --card-text-font-weight: 'wght' 400;
    --main-color: #fff;
    --text-color: #000;
    --contur-color:var(--text-color);
    --text-button-color:#000;
    --text-botton-color-invert: 1;
    --text-button-color-alternative: var(--main-color);
    --label-text-color:rgba(0, 0, 0, 0.5);
    --label-outline-color: rgba(255, 255, 255, 0.5);
    --background-image: 
      repeating-linear-gradient(90deg, #d3d3d3 2px, transparent 4px),
      repeating-linear-gradient(0deg, #d3d3d3 2px, transparent 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  }
}