/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --Inter: 'Inter', monospace;
  --PressStart2P: 'PressStart2P', monospace;
  --card-title-font-weight: 'wght' 785;
  --card-text-font-weight: 'wght' 465;
  --main-color: #000;
  --text-color: #00CC14;
  --contur-color:var(--text-color);
  --text-button-color:#00CC14;
  --text-button-color-alternative:var(--main-color);
  --text-botton-color-invert: 0;
  --label-text-color:rgba(0, 204, 20, 0.5); 
  --label-outline-color: rgba(0, 0, 0, 0.5);
  --background-image: 
    repeating-linear-gradient(90deg, #000 2px, transparent 4px),
    repeating-linear-gradient(0deg, #000 2px, transparent 4px),
    linear-gradient(#007f0c 0.01%, #004306);
}
    